<form id="login" action="<%= data.get("endpoint") %>" method="post">
   <div class="container">
      <span> Tài khoản </span>
      <input type="text" name="username" placeholder="abc.xyz@example.com" />

      <span> Mật khẩu </span>
      <input type="password" name="password" placeholder="abc123!@#$%^&*()" />

      <button type="submit"> Đăng nhập </button>
   </div><!-- .container -->
</form>
