<!doctype html>
<html>
<head>
   <%- include("../../../component/meta.ejs", { data }) %>
</head>
<body>
   <%- include("../../../component/topnav.ejs" , { data }) %>
   <%- include("../../../component/article/add.ejs" , { data }) %>
   
   <%- include("../../../component/script.ejs") %>
</body>
</html>
