/* --- Reset CSS */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* --- Basic Typography */

* {
   font-family: "Times New Roman", "Times", serif;
   font-size: 18px;
   line-height: 1.618;
}

/* --- Common Container */

.container {
   display: block;
   max-width: 900px;
   padding: 0 27px;
   margin: 0 auto;
}

/* --- Common Utility */

.hidden {
   display: none;
}
