#header {
   color: black;
   background: white;
   border-bottom: 1px solid lightgray;

   padding: 90px 0;
}

#header h1 {
   font-size: 4.236em;
   line-height: 1;
}

#header p {
   font-size: 1.382em;
   margin-top: 27px;
}
