<!doctype html>
<html>
<head>
   <title> <%= data["title"] %> </title>

   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
   <h1> <%= data["title"] %> </h1>

   <script src="/js/main.js"></script>
</body>
</html>
